* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background: black;
    font-family: 'Raleway', sans-serif;
}

.profile {
    text-align: center;
    margin: 35px 0;
}

.profile img {
    width: 170px;
    border-radius: 50%;
    border: 2px solid rgb(233, 27, 27);
}

.profile h1{
    margin-top: 25px;
    font-size: 35px;
    font-family: 'Josefin Sans', sans-serif;
}

.profile h2 {
    margin-top: 3px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 100;
    font-style: italic;
}

.links-list {
    list-style: none;
}

.links-list li {
    margin: 30px 20px;
}

.links-list li a {
    text-decoration: none;
    color: white;
    display: flex;
    background-color: #161616;
    border-radius: 10px;
    border: 1px solid red;
    align-items: center;
    padding: 15px 20px;
}

.links-list li a img {
    width: 40px;
    margin-right: 20px;
}

.links-list li a h3 {
    margin-bottom: 5px;
}

.links-list li a p {
    letter-spacing: 1px;
}